.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--input-background);
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    padding: 1rem 2rem 1rem 1rem;

    max-width: 75rem;
    margin: 0 auto;
}

.button{
    width: 3rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.043rem solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
.designbutton {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: none;
    background-color: var(--button-green);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.smallbutton {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    border: none;
    background-color: var(--text-hover);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
