html {
  background-color: var(--background-main);
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--background-main);
  color: var(--nav-text);
}

h2{
  font-size: 1.125rem;
  color: var(--text-primary);
}

.center{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.player{
  margin: 0.625rem;
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--text-primary);
}

.score {
  padding: 0.063rem;
  font-size:small;
  font-weight: bold;
  background-color: var(--nav-background);
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--button-green);
}

.round-btn{
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  border: none;
  margin: 0.065rem;
  cursor: pointer;
  background-color: var(--button-green);
  color: var(--button-blue-text);
  text-align: center;
}

.round-btn:hover{
  background-color: var(--button-green-hover);
}