html {
  background-color: var(--background-main);
}

h1 {
  font-size: 24px;
  margin: 0;
  padding: 8px;
  font-weight: normal;
  text-align: center;
  background-color: var(--background-main);
  color: var(--nav-text);
}

h2{
  font-size: 18px;
  color: var(--text-primary);
}

.center{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.player{
  margin: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  background-color: var(--text-primary);
}

.score {
  padding: 1px;
  font-size:small;
  font-weight: bold;
  background-color: var(--nav-background);
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--button-blue);
}

.round-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin: 2px;
  cursor: pointer;
  background-color: var(--button-blue);
  color: var(--button-blue-text);
  text-align: center;
}

.round-btn:hover{
  background-color: var(--button-blue-hover);
}